<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/polymerfire/polymerfire.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-app.html">
<link rel="import" href="../../bower_components/polymerfire/firebase-document.html">

<link rel="import" href="ybs-input.html">

<dom-module id="ybs-rant-app">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <firebase-app
    auth-domain="ygn-rant.firebaseapp.com"
    database-url="https://ygn-rant.firebaseio.com"
    api-key="AIzaSyBhkJDwZfMcBZtr6CGFFusupEhMg8xF27c"
    >
    </firebase-app>
    <ybs-input></ybs-input>
  </template>

  <script>
    Polymer({
      is: 'ybs-rant-app',
      properties: {

      }
    });
  </script>
</dom-module>
