<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-input/paper-textarea.html">
<link rel="import" href="../../bower_components/iron-form/iron-form.html">
<link rel="import" href="../../bower_components/paper-button/paper-button.html">
<link rel="import" href="../../bower_components/firebase/firebase-app.js">

<dom-module id="ybs-input">
  <template>
    <style is="custom-style">
      :host {
        display: block;
      }
      paper-textarea {
        padding: 10px;
        --paper-input-container: {
          margin: 0px 10px;
        };
      }
    </style>
    <firebase-document
    id="rantpost"
    path="/"
    data="{{rantData}}"
    >
    </firebase-document>
    <div id="rantform">
      <paper-textarea no-label-float placeholder="Rant anything..." value="{{rantText}}" id="rantform"></paper-textarea>
      <paper-button raised on-tap="_submitForm">Submit</paper-button>
    </div>
  </template>

  <script>
    Polymer({
      is: 'ybs-input',
      properties: {
        rantText: {
          type: String,
          notify: true
        }
      },
      _submitForm: function(){
        
      }
    });
  </script>
</dom-module>
